* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: #0d233b;
  font-family: sans-serif;
  font-size: 1.5vw;
}

.navigationBar {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
  }
}
.navigationBarContainer {
  border-radius: 5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: #4fb17e;
  color: white;
  box-shadow: 5px 5px 5px black;
  text-transform: uppercase;
  transition-duration: 300ms;

  &:hover {
    background-color: #4fb17ec2;
  }
}
.load {
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-name: zoonInOut;
}
@keyframes zoonInOut {
  0% {
    font-size: 10vw;
  }
  50% {
    font-size: 8vw;
  }
  100% {
    font-size: 10vw;
  }
}

.oneCountry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home {
  color: black;
  height: 55vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeCountryName {
  font-size: 4vw;
  text-shadow: 1px 1px 0px black;
}
.HomeContainer {
  height: 90%;
  width: 80%;
  border-radius: 5vw;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 5px black;
  justify-content: space-evenly;
}

.HomeContainerData {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}
.values {
  height: 35vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.circle {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  background-color: #47e993;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 0px black;
}

.valuesData {
  color: #0d233b;
  height: 5vh;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allCountries {
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  a {
    color: white;
    text-decoration: none;
    text-align: center;
    transition-duration: 300ms;

    &:hover {
      color: lightcoral;
      font-size: 2vw;
    }
  }
}
.singlecountry {
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.singlecountryContainer {
  height: 90%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SingleCountryData {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SingleCountryDataContainer {
  background-color: white;
  width: 60%;
  height: 100%;
}
.seeMoreBtn {
  font-size: 1.5vw;
  background-color: lightcoral;
  border: none;
  border-radius: 1vw;
  padding: 0.5vw 1vw;
  color: white;
  cursor: pointer;
  outline: none;
}
.cantRender {
  width: 100vw;
  height: 25vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.cantRenderContainer {
  height: 90%;
  width: 90%;
  background-color: red;
  border-radius: 5vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bigX {
  color: red;
  font-size: 7vw;
  height: 10vw;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}
.infoBlock {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.infoBlockData {
  width: 50vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.infoBlockDataContainer {
  height: 90%;
  width: 90%;
  background-color: white;
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.IBDnumbers {
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
.ibdn {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-color: #47e993;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 0px black;
  transition-duration: 300ms;
}
.death {
  background-color: #ee3c3c;
}
.confirmed {
  background-color: #fbd24a;
}
@media screen and (max-width: 800px) {
  .valuesData {
    font-size: 2vw;
  }
  .circle {
    font-size: 2vw;
    width: 15vh;
    height: 15vh;
  }
  .ibdn {
    width: 8vh;
    height: 8vh;
  }
}
